<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
    <div class="container my-2">
        <div class="row justify-content-start">
            <div class="col-2">
                <a href="/currency/today"
                   class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">
                    Main(today)
                </a>
            </div>
            <div class="col-2">
                <a href="/currency"
                   class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">All
                    Currencies</a>
            </div>
            <div class="col justify-content-end text-end">
                <a href="/currency"
                   class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Login</a>
            </div>
        </div>

    </div>
</header>
</body>
</html>